md-chip {
  margin-right: 5px;
  max-width: 200px;
}
h3 {
  cursor: pointer;

  md-icon {
    float: right;
  }
}
.mat-list .mat-list-item .mat-list-avatar, .mat-nav-list .mat-list-item .mat-list-avatar {
  height: 24px;
  opacity: 0.62;
}
md-icon[hidden], md-list-item[hidden], md-divider[hidden] {
  display: none;
}
