<md-sidenav-container>
  <md-sidenav #sidenav>
    <md-list *ngIf="oases">
      <md-list-item *ngFor="let oasis of oases">
        <md-icon md-list-avatar>place</md-icon>
        <h4 md-line>{{oasis.title}}</h4>
        <!--TODO <p md-line>距離</p>-->
      </md-list-item>
    </md-list>
  </md-sidenav>

  <md-toolbar color="primary">
    <h1>もばっぷ</h1>&nbsp;<small>(Mobiler's Oases on Google Maps)</small>
    <span class="example-spacer"></span>
    <md-icon class="example-icon" (click)="sidenav.open()">menu</md-icon>
  </md-toolbar>

  <ng-container *ngIf="oases">
    <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
      <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
      <sebm-google-map-marker *ngFor="let oasis of oases" [latitude]="oasis.latitude" [longitude]="oasis.longitude" [label]="oasis.index.toString()"></sebm-google-map-marker>
      <sebm-map-polygon [paths]="paths" [fillOpacity]="0.1" [strokeColor]="'#ff3860'"></sebm-map-polygon>
    </sebm-google-map>
  </ng-container>

  <footer>
    <md-toolbar>
      - Copyright © 2017 もばっぷ All Rights Reserved. -
    </md-toolbar>
  </footer>
</md-sidenav-container>